body {
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  line-height: 1.2;
}

div.list {
  border-right: 2px solid #ccc;
}

div.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #333;
}

div.list ul li {
  cursor: pointer;
  padding: 4px 16px;
  color: #999;
  border-bottom: 1px solid #333;
  white-space: nowrap;
}

div.list ul li:hover {
  color: #fff;
  background: #333;
}

div.list ul li.active {
  color: #0c0;
}

div.list span.relations {
  color: aqua;
}

div.list > div.relations {
  font-size: 0.8em;
  padding: 0px 16px 8px;
  color: #666;
}

h1 {
  padding-bottom: 16px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 0;
  cursor: pointer;
}

h1,
h2 {
  padding-left: 16px;
}

h2,
h3 {
  margin: 16px 0 8px 0;
}

div.movie {
  padding: 16px;
}

div.movie .info {
  display: flex;
  align-items: flex-start;
}

div.movie .info img {
  margin-right: 16px;
}

div.movie h2 {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 8px;
}

div.movie div[title="Tagline"] {
  font-style: italic;
  font-size: 1.1em;
  color: #ccc;
}

div.movie div[title="Released"] {
  margin-top: 4px;
  color: #ccc;
}

div.movie ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.movie ul li {
  color: #666;
}

div.graph {
  width: 600px;
  height: 600px;
  margin-top: 16px;
}

div.showQuery {
  margin-bottom: 8px;
}

div.list div.showQuery {
  margin: 8px 16px;
}

div.showQuery .show,
div.showQuery .query {
  font-size: 0.8em;
  cursor: pointer;
  color: #333;
  border: 2px solid #333;
  padding: 8px;
  margin: 0;
}

div.showQuery .show {
  background: #111;
  color: #666 !important;
  text-transform: uppercase;
}

div.showQuery .query {
  background: #ccc;
}
